@import "tailwindcss";

:root {
  /* Font family */
  --font-poppins: Poppins, sans-serif;
  --font-inter: Inter, sans-serif;

  /* Colors */
  --color-background: #f8f9fa;
  --color-banner: #506d37;
  --color-primary: #041107;
  --color-secondary: #2f4020;
  --color-cardBg: #E5E5E5;
  --color-tertiary: #E5E5E5;
  --color-tertiary-white: #1e2915;
   --color-error: hsl(5, 85%, 63%);
  --color-active-link: #4EB959;
  --color-default-link: #B3E7B3;
  --color-hover-link: #81D487;
  --color-button-login-default: #2B9E3B;
    --color-button-login-hover: #1C7F2B;
    --color-button-login-active: #176526;
    --color-button-login-disabled: #D9F3D8;
    --color-button-textColor: #F8F9FA;
    --color-button-textColor-disabled: #4EB959;
    --color-button-textColor-hover: #F8F9FA;
    --color-button-signout: #EFFAEF;

    /* Status color */
    --color-status-pending: #233BB2;
    --color-status-active: #D9F3D8;
    --color-status-completed: #B3E7B3;
    --color-status-cancelled: #B26623;
    --color-status-failed: #4EB959;





    /* Font sizes */
  --text-display: 2.25rem;
  --text-headline: 1.5rem;
  --text-title: 0.875rem;
  --text-p: 0.75rem;

  /* Responsive font sizes */
  --text-display-sm: 2.4125rem;
  --text-display-md: 2.7875rem;
  --text-display-lg: 2.8625rem;

  --text-headline-sm: 1.65rem;
  --text-headline-md: 1.775rem;
  --text-headline-lg: 1.8rem;

  --text-title-sm: 1rem;
  --text-title-md: 1.1875rem;
  --text-title-lg: 1.375rem;

  --text-p-sm: 0.875rem;
  --text-p-md: 0.9375rem;
  --text-p-lg: 1rem;

  --text-label-lg: 0.875rem;
  --text-label-md: 0.75rem;
  --text-label-sm: 0.6875rem;
}


/* Define custom components */
@layer components {
  .btn-category {
    @apply text-[13px] font-normal py-2 px-[9.1rem] rounded-[8px] text-textColor bg-tertiary;
  }

  .wrapper {
    @apply w-full mx-auto max-w-full md:max-w-[840px] xl:max-w-[1040px] px-4 md:px-0 mt-[2rem>
  }
}


/* Define custom utilities */

@layer utilities {
  .display {
    font-size: var(--text-display);
    font-weight: bold;

    @media (min-width: 640px) {
      font-size: var(--text-display-sm);
    }

    @media (min-width: 768px) {
      font-size: var(--text-display-md);
    }

    @media (min-width: 1024px) {
      font-size: var(--text-display-lg);
    }
  }

  .headline {
    font-size: var(--text-headline);
    font-weight: medium;

    @media (min-width: 640px) {
      font-size: var(--text-headline-sm);
    }

    @media (min-width: 768px) {
      font-size: var(--text-headline-md);
    }

    @media (min-width: 1024px) {
      font-size: var(--text-headline-lg);
    }
  }

  .title {
    font-size: var(--text-title);
    font-weight: medium;

    @media (min-width: 640px) {
      font-size: var(--text-title-sm);
    }

    @media (min-width: 768px) {
      font-size: var(--text-title-md);
    }

    @media (min-width: 1024px) {
      font-size: var(--text-title-lg);
    }
  }

  .p-text {
    font-size: var(--text-p);
    font-weight: normal;

    @media (min-width: 640px) {
      font-size: var(--text-p-sm);
    }

    @media (min-width: 768px) {
      font-size: var(--text-p-md);
    }

    @media (min-width: 1024px) {
      font-size: var(--text-p-lg);
    }
  }
  .label-text {
    font-size: var(--text-label-sm);
    font-weight: normal;

    @media (min-width: 640px) {
      font-size: var(--text-label-md);
    }

    @media (min-width: 768px) {
      font-size: var(--text-label-lg);
    }
  }
}